@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  background-color: gray;
  font-family: 'Cambria', serif;
  width: 21cm;
  height: 29.7cm;
}

div {
  /*border: 1px solid #999999;*/
}

#main > div {
  background-color: antiquewhite;
  @apply .p-5;
}

#avatar {
  @apply .w-1/5;
  @apply .pr-2;
}
