@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  background-color: gray;
  font-family: 'Cambria', serif;
  width: 21cm;
  height: 29.7cm;
}

section {
  @apply .px-2;
  @apply .m-1;
  @apply .w-full;
}

ul {
  @apply .list-disc;
  @apply .list-outside;
  @apply .ml-5;
}

h2 {
  @apply .font-bold;
  @apply .text-base;
  @apply .text-gray-800;
}

a:after,
a::after {
  font-family: 'FontAwesome';
  content: '\f35d';
  display: inline-block;
  vertical-align: super;
  font-weight: 900;
  font-size: 6px;
  @apply .pl-1 .text-gray-600;
}

hr {
  border-top: 0;
  border-bottom: 1px dashed gray;
}

i[class*='fa-'] {
  @apply .mr-1;
}

b {
  @apply .text-gray-700;
}

#main > div {
  @apply .p-5;
  background-color: antiquewhite;
}

#avatar {
  @apply .w-1/5;
  @apply .pr-2;
}

.inline-link {
  border-bottom: 1px dotted gray;
}

a.inline-link::after {
  content: '';
}

.badge {
  @apply .mr-2;
}

.section-title {
  @apply .text-lg;
  @apply .font-semibold;
  @apply .mb-1;
  border-bottom: 1px solid lightgray;
}

.experience-heading {
  @apply .mb-1;
}
