@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  background-color: gray;
  font-family: 'Cambria', serif;
  width: 21cm;
  height: 29.7cm;
}

section {
  @apply .p-2;
}

sup {
  font-size: 8px;
}

#main > div {
  background-color: antiquewhite;
  @apply .p-5;
}

#avatar {
  @apply .w-1/5;
  @apply .pr-2;
}

.badge {
  @apply .mr-2;
}

.badge i {
  @apply .pr-1;
}

.section-title {
  @apply .text-xl;
  @apply .w-full;
  @apply .font-semibold;
  border-bottom: 1px dashed;
}

.skills {
  @apply .list-disc;
  @apply .list-outside;
  @apply .ml-5;
}
